.pr3typriincess, .pr3typriincess hr,
.pr3typriincess .select-button,
.pr3typriincess button, .pr3typriincess .checkbox,
.pr3typriincess .path, .pr3typriincess .dropdown-list {
    border-color: #fa6bd4;
}