header {
    text-align: center;
}

header nav {
    display: grid;
    grid-template-columns: 1fr var(--space-size) 1fr var(--space-size) 1fr;
}

header nav button {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav button.active {
    background-color: rgb(255, 255, 255, 25%);
}

header nav hr {
    border-right: 0;
    
    /* Fix ugly gap at the top */
    border-top: 0;
}

.icon {
    width: var(--font-lg);
    margin: var(--space-size);
}