.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.checkbox {
    border: var(--border);
    border-width: 0.2rem;

    width: 2.5rem;
    height: 2.5rem;

    padding: var(--space-size);

    position: relative;
}

.checkbox::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 6px;
    width: 9px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);

    display: none;
}

.checkbox-container input:checked ~ .checkbox::after {
    display: block;
}